<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Category0</key>
	<dict>
		<key>Questions</key>
		<array>
			<dict>
				<key>category</key>
				<string>Category0</string>
				<key>pointValue</key>
				<integer>100</integer>
				<key>text</key>
				<string>Question0 in Category0</string>
				<key>time</key>
				<integer>60</integer>
			</dict>
			<dict>
				<key>category</key>
				<string>Category0</string>
				<key>pointValue</key>
				<integer>200</integer>
				<key>text</key>
				<string>Question1 in Category0</string>
				<key>time</key>
				<integer>120</integer>
			</dict>
		</array>
	</dict>
	<key>Category1</key>
	<dict>
		<key>Questions</key>
		<array>
			<dict>
				<key>category</key>
				<string>Category1</string>
				<key>pointValue</key>
				<integer>100</integer>
				<key>text</key>
				<string>Question0 in Category1</string>
				<key>time</key>
				<integer>60</integer>
			</dict>
			<dict>
				<key>category</key>
				<string>Category2</string>
				<key>pointValue</key>
				<integer>200</integer>
				<key>text</key>
				<string>Question1 in Category1</string>
				<key>time</key>
				<integer>120</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
